<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SkillzApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>35717B34A745F1FACD0F6DA24D81B56FD4001D9D</string>
				<key>dateExpires</key>
				<string>9/19/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ST3D4JRYHA.com.skillz.enterprise.3Dcaverunne</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ST3D4JRYHA</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>ST3D4JRYHA.com.skillz.enterprise.3Dcaverunne</string>
				</array>
			</dict>
			<key>name</key>
			<string>SkillzApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cc89bd61-81b6-48df-99ce-65ba9e261d13</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.skillz.enterprise.3Dcaverunne</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ST3D4JRYHA</string>
				<key>name</key>
				<string>Skillz Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
